[Unit]
Description=relaiscontrol

[Service]
ExecStart=/usr/bin/gpio mode 7 out
Restart=on-failure
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jukebox-relaiscontrol

[Install]
WantedBy=multi-user.target
