[Unit]
Description=shutdown via button

[Service]
ExecStart=/usr/bin/python /home/pi/jukebox/Raspberry/shutdown/shutdown.py
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=shutdown-button
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
