[Unit]
Description=arduinogw
Requires=After=jukebox_mipod.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/local/bin/node /home/pi/jukebox/Raspberry/arduinogw/arduinogw_serial.js
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jukebox-arduinogw
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
