[Unit]
Description=Playlistmapper

[Service]
ExecStart=/usr/local/bin/node /home/pi/jukebox/Raspberry/playlistmapper/playlistmapper.js
# Required for finding database.db
WorkingDirectory=/home/pi/jukebox/Raspberry/playlistmapper
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jukebox-playlistmapper
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=4000

[Install]
WantedBy=multi-user.target
